<div class="row" data-ng-controller="GnMetadataFormatterFunctionController">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span data-translate="">metadataFormatterFunction</span>
            </div>
            <div class="panel-body">

                <input class="form-control" data-ng-model="functionSearch.$" autofocus=""
                       placeholder="{{'filter' | translate}}"/>
                <div class="list-group">
                    <a href="" class="list-group-item"
                       data-ng-repeat="f in functions | filter:functionSearch"
                       data-ng-class="f === userSelected ? 'active' : ''" data-ng-click="selectFunction(f)">
                        {{f}} </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <form role="form">
            <div class="form-group">
                <label for="namespace" translate="">namespace</label>
                <input type="text" class="form-control" id="namespace"
                       data-ng-model="edited.namespace" placeholder="{{'namespace' | translate}}">
            </div>
            <div class="form-group">
                <label for="name" translate="">name</label>
                <input type="text" class="form-control" id="name"
                       data-ng-model="edited.name" placeholder="{{'name' | translate}}">
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" id="function"
                          data-ng-model="edited.function" placeholder="{{'function' | translate}}" rows="15"></textarea>
            </div>
            <button type="submit" class="btn btn-default" data-ng-click="update()"
                    data-ng-disabled="edited.namespace === '' || edited.name === '' || edited.function === ''"
                    translate="">submit</button>
            <button type="submit" class="btn btn-default" data-ng-click="delete()"
                    data-ng-disabled="!userSelected || userSelected.namespace !== namespace || userSelected.name !== name"
                    translate="">delete</button>
        </form>
    </div>
</div>