<div class="row" data-ng-controller="GnMetadataFormatterFunctionController">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span data-translate="">metadataFormatterFunction</span>
            </div>
            <div class="panel-body">

                <input class="form-control" data-ng-model="functionSearch.$" autofocus=""
                       placeholder="{{'filter' | translate}}"/>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" data-ng-repeat="(key, def) in functions | filter:functionSearch">
                        <div class="panel-heading gn-action" data-ng-click="expandNamespace(key)">
                            <h4 class="panel-title">
                                {{key}}
                                <i class="badge pull-right">{{def.formatterFunction.length}}</i>
                            </h4>
                        </div>
                        <div id="{{'collapsable_'+key}}" class="panel-collapse collapse">
                            <div class="panel-body"
                                 data-ng-repeat="funcDef in def.formatterFunction"
                                 data-ng-class="funcDef === userSelected ? 'active' : ''"
                                 data-ng-click="selectFunction(funcDef)"   >
                                {{funcDef.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <form role="form">
            <div class="form-group">
                <label for="namespace" translate="">namespace</label>
                <input type="text" class="form-control" id="namespace"
                       data-ng-model="edited.namespace" placeholder="{{'namespace' | translate}}">
            </div>
            <div class="form-group">
                <label for="name" translate="">name</label>
                <input type="text" class="form-control" id="name"
                       data-ng-model="edited.name" placeholder="{{'name' | translate}}">
            </div>
            <div class="form-group">
                <label for="functionBody" translate="">formatterFunctionBody</label>
                <textarea type="text" class="form-control" id="functionBody" data-gn-autogrow="" rows="10"
                          data-ng-model="edited.functionBody" placeholder="{{'functionBody' | translate}}" ></textarea>
            </div>
            <button type="submit" class="btn btn-default" data-ng-click="update()"
                    data-ng-disabled="edited.namespace === '' || edited.name === '' || edited.functionBody === ''"
                    translate="">submit
            </button>
            <button type="submit" class="btn btn-default" data-ng-click="deleteFunction()"
                    data-ng-disabled="!userSelected || userSelected.namespace !== edited.namespace || userSelected.name !== edited.name"
                    translate="">delete
            </button>
        </form>
    </div>
</div>