<div class="container-fluid" ng-controller="GnSchematronViewController" id="resultTable">
    <div data-ng-repeat="group in data | orderBy:+schematron.schemaname | orderBy:+schematron.ruleName | orderBy:+name ">
        <div class="row">
            <div class="col-md-1">
                <a data-ng-class="glyphicon glyphicon-{{group.required}}"
                   data-ng-click="toggleRequirement(this)"
                   title="{{'toggleRequirement' | translate}}">
                </a>
            </div>
            <div class="col-md-1">
                <b>{{group.schematron.schemaname}}</b>
            </div>
            <div class="col-md-4">
                {{group.schematron.ruleName}}
            </div>
            <div class="col-md-5">
                {{group.name}}
            </div>
            <div class="col-md-1">
                <a class="glyphicon glyphicon-remove-circle removeItem"
                    title="{{'deleteCriteriaGroup' | translate}}"
                    data-ng-click="removeItem(this)">
                </a>
            </div>
        </div>
        <div class="row" style="background-color: #f5f5f5;" data-ng-repeat="row in group.criteria">
            <div class="col-md-2 col-md-offset-2">
                {{row.type}}
            </div>
            <div class="col-md-7">
                {{row.value}}
            </div>
            <div class="col-md-1">
                <a class="glyphicon glyphicon-remove-circle removeItem"
                   title="{{'deleteCriteria' | translate}}"
                   data-ng-click="removeItem(this)">
                </a>
            </div>
        </div>
    </div>
</div>