<div data-ng-controller="GnAdminMetadataController">
    <div data-ng-controller="GnSchematronEditCriteriaController">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading" data-translate="">schematrons</div>
                    <div class="panel-body" data-ng-repeat="schema in schematrons">
                        <h5><strong>{{schema.name}}</strong></h5>

                        <div class="list-group">
                            <a class="list-group-item" data-ng-repeat="schematron in schema.schematron"
                               data-ng-click="selectSchematron(schema, schematron)"
                               data-ng-class="{active: selection.schematron === schematron}">
                                {{schematron.rulename}} <span class="badge">{{schematron.groupCount}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><span data-translate="">schematronApplicationCriteria</span>
                        <i id="schematronCriteriaGroupsQuestion" class="fa fa-question-circle"
                             data-ng-mouseover="isShowSchematronGroupHelp = true"
                             data-ng-mouseleave="isShowSchematronGroupHelp = false"></i>
                        <div style="padding-left: 2em; padding-top: 1em" data-ng-show="isShowSchematronGroupHelp">
                            Schematron <em>{{selection.schematron.rulename}}</em> will be used to validate a metadata when all the criteria in
                            one of the following groups evaluate to true for the metadata.
                        </div>
                    </div>
                    <div class="panel-body">
                        <div data-ng-show="schematronGroups">
                            <ul class="nav nav-tabs">
                                <li data-ng-class="{active: selection.group == group}"
                                    data-ng-repeat="group in schematronGroups">
                                    <a>
                                        {{group.id.name}}&NonBreakingSpace;
                                        <i class="fa gn-action"
                                           data-ng-class="hoverDelete"
                                           data-ng-init="hoverDelete = 'fa-times'"
                                           data-ng-mouseleave="hoverDelete = 'fa-times'"
                                           data-ng-mouseover="hoverDelete = 'fa-times-circle'"></i>
                                    </a>
                                </li>
                                <li data-ng-class="{active: !selection.group}"
                                        data-ng-click="create()">
                                    <a class="fa fa-plus"></a>
                                </li>
                            </ul>
                            <div class="well-sm">
                                <div class="dropdown">
                                    <h5 data-toggle="dropdown" style="cursor: pointer">
                                        <small>{{'requirement'+selection.group.requirement | translate}}</small>
                                        <i class="fa fa-caret-down"></i>
                                    </h5>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li role="presentation" data-ng-repeat="requirement in requirements"
                                            data-ng-hide="selection.group.requirement === requirement">
                                            <a role="menuitem" tabindex="-1">{{'requirement'+requirement | translate}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-group">
                                <gn-criteria-editor
                                        criteria="criteria"
                                        schema="selection.schema"
                                        group="selection.group"
                                        data-ng-repeat="criteria in selection.group.criteria"></gn-criteria-editor>
                                <gn-criteria-editor
                                        criteria="{'id': data.id, 'type': 'NEW', 'value': ''}"
                                        schema="selection.schema"
                                        group="selection.group"></gn-criteria-editor>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>