<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:j="http://geonetwork-opensource.org/jeeves-spring-namespace"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://geonetwork-opensource.org/jeeves-spring-namespace
        http://geonetwork-opensource.org/jeeves-spring-namespace/jeeves-spring-namespace.xsd"> 
 
    <!-- Import database you want to use -->
 	<!-- <import resource="config-h2-database.xml"/> -->
 	<import resource="config-postgis-database.xml"/>
 	
 	<!-- import profile access rights -->
 	<import resource="user-profiles.xml"/>
 	
 	<!-- import lucene configuration beans -->
 	<import resource="config-lucene.xml"/>
 	
 	<!-- import summary configuration beans -->
 	<import resource="config-summary.xml"/>
 	
 	<!-- import database migration configuration beans -->
 	<import resource="config-db-migration.xml"/>
	
 	<!-- import CSW Configuration -->
 	<import resource="config-csw.xml"/>
	
	<bean id="geonetworkDataDirectory" class="org.fao.geonet.GeonetworkDataDirectory"></bean>
	<bean id="jeevesGeneralConfig" class="jeeves.config.GeneralConfig"
		p:uploadDir="test-uploads">
	</bean>
	<bean id="jeevesDefaultConfig" class="jeeves.config.DefaultConfig"
		p:service="home"
		p:startupErrorService="main.error">
		<property name="errorPages">
			<list>
				<bean class="jeeves.server.dispatchers.ErrorPage" 
					p:contentType="text/html"
					p:statusCode="403"
					p:styleSheet="xml/privileges-error.xml"/>
			</list>
		</property>
	</bean>
	
	
	<bean id="geonetworkAppHandler" class="org.fao.geonet.Geonetwork"/>
	<bean id="geonetworkConfig" class="org.fao.geonet.GeonetworkConfig"
		p:languageProfilesDir="resources/language-profiles"
		p:licenseDir="WEB-INF/licenses"
		p:preferredSchema="iso19139"
		p:statLogSpatialObjects="false"
		p:statLogAsynch="true"
		p:statLuceneTermsExclude="_op0,_op1,_op2,_op3,_op4,_op5,_op6,_isTemplate,_locale,_owner,_groupOwner,_dummy,type"
		p:maxWritesInTransaction="1000"
		p:useSubversion="true"
		p:statusActionsClassName="org.fao.geonet.services.metadata.DefaultStatusActions"
		>
	</bean>
	
	<j:service id="home" >
		<output sheet="home.xsl"/>
	</j:service>
	<j:service id="main.home" package="org.fao.geonet">
		<output sheet="main-page.xsl">
				<call name="searchDefaults" serviceClass=".guiservices.search.GetDefaults" />
				<call name="keywords" serviceClass=".guiservices.keywords.Get" />
				<call name="groups" serviceClass=".guiservices.groups.GetMine" />
				<call name="services" serviceClass="jeeves.guiservices.services.Get" />
				<call name="categories" serviceClass=".services.category.List" />
				<call name="status" serviceClass=".services.status.List" />
				<call name="regions" serviceClass=".guiservices.regions.Get" />
				<call name="sources" serviceClass=".guiservices.util.Sources" />
				<call name="repositories" serviceClass=".services.main.Info">
					<param name="type" value="z3950repositories" />
				</call>

				<call name="latestUpdated" serviceClass=".guiservices.metadata.GetLatestUpdated">
					<param name="maxItems" value="10" />
					<param name="timeBetweenUpdates" value="10" />
				</call>

				<call name="featured" serviceClass=".guiservices.metadata.GetRandom">
					<param name="maxItems" value="1" />
					<param name="timeBetweenUpdates" value="10" />
					<!-- Restrict to a geographic area. Default is global overlap -->
					<param name="relation" value="overlaps" />
					<param name="northBL" value="90" />
					<param name="southBL" value="-90" />
					<param name="eastBL" value="180" />
					<param name="westBL" value="-180" />
				</call>

				<xml name="searchProfiles" file="xml/search-profiles.xml" localized="false" />
			</output>
	</j:service>
	<j:service id="main.error">
	  <output sheet="main-error.xsl">
		  <call name="startupError" serviceClass="org.fao.geonet.guiservices.util.GetStartupError" />
	  </output>
	</j:service>
</beans>