<form class="form-inline" role="form" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="form-group col-sm-3">
            <select
                    class="form-control"
                    data-ng-mousedown="handleFocus($event)"
                    data-ng-blur="handleBlur()"
                    data-ng-model="criteria.type"
                    data-ng-options="c.name for c in schema.criteriaTypes">
                <option data-ng-if="criteria.type === 'NEW'" value="NEW">{{'new'|translate}}</option>
            </select>
        </div>
        <div class="form-group col-sm-7">
            <input type="text"
                   class="form-control"
                   data-ng-mousedown="handleFocus($event)"
                   data-ng-blur="handleBlur()"
                   placeholder="{{'criteriaValue' | translate}}"
                   data-ng-model="criteria.value"
                   />
        </div>
        <a class="gn-action" data-ng-mousedown="handleFocus($event)" data-ng-click="saveEdit()">{{'save' | translate}}</a>
        <a class="fa fa-times" data-ng-mousedown="handleFocus($event)" data-ng-click="cancelEditing()">{{'cancel' | translate}}</a>
    </div>
</form>